<p-terminal *ngIf="!user_ascess" id="login" welcomeMessage="Enter the Passphrase to continue" prompt="Csv-Viewer $"></p-terminal>

<div *ngIf="user_ascess" class="ui-g">
  <div class="ui-g-2 sidenav">
    <p class="heading">Directory</p>
    <p-tree  selectionMode="single" [(selection)]="selectedFile2" [contextMenu]="cm" id="directory" [value]="files"></p-tree>
  </div>
  <div class="ui-g-9">
    <div class="ui-g-12">
        <div class="ui-g-6" *ngFor="let item of tables; let i=index; ">
            <p-dataTable  #dt exportFilename="{{item.id}}" reorderableColumns="true" pDroppable="eventos" (onDrop)="drop($event, i)" [editable]="true" [value]="item.data" [(selection)]="selectedValues[item.id]"  [contextMenu]="td">
                <p-header>{{item.id}}
                    <button type="button" pButton icon="fa-file-o" iconPos="left"  label="Download" (click)="dt.exportCSV()" style="float:left;margin-top: -1%"></button>
                    <button type="button" pButton icon="fa-trash" iconPos="left"   label="Remove" (click)="deletetable(i)" style="float:right;margin-top: -1%"></button>
                </p-header>
                <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
                <p-column *ngFor="let key of item.keys; let first=first; let index = index" [editable]="true" field="{{key}}" header="{{key}}">
                    <ng-template let-itm="rowData" pTemplate="body">
                        <span pDraggable="eventos" (onDragStart)="dragStart(itm, i, index)">{{itm[key] }}</span>
                      </ng-template>
                </p-column>
                <!-- <p-column field="WorkExperience" header="Work Experience"></p-column>
                <p-column field="Role" header="Role"></p-column>
                <p-column field="Location" header="Location"></p-column> -->
            </p-dataTable>
        </div>
    </div>
    
  </div>
</div>
<p-contextMenu #cm [model]="menu"></p-contextMenu>
<p-contextMenu #td [model]="tdmenu"></p-contextMenu>

